.aboutme-page{
    background-color: $bgColor;
    padding: 6.25rem 3.125rem;

    color: $primaryColor;

    .aboutme-content{
        margin: 50px 0;
        &-title{
            font-family: $font-primary;
            font-size: 2.5625rem;
            font-weight: 500;
            
        }
        &-para{
            width: 85%;
            margin: auto;
            margin-top: 2.5rem;
            font-family: $font-secondary;
        }

        .cd-wrapper{
            width: 85%;
            margin: auto;

            .cd-left{
                padding: 0;
                margin-top: 3.125rem;
                h3{
                    font-family: $font-primary;
                    font-size: 1.5625rem;
                    font-weight: 400;
                    margin: 0;
                }
                a{
                    color: $primaryColor;
                }
            }

            .cd-right{
                padding: 0;
                margin-top: 3.125rem;
                a{
                    color: $primaryColor;
                }
                .dev-page{
                    width: fit-content;
                    border: 2px solid $primaryColor;
                    border-radius: 5px;
                    padding: 10px;
                    transition: all 200ms ease-in-out;
                    &:hover{
                        border-color: $secondaryColor;
                        color: $secondaryColor;
                        background-color: $primaryColor;
                    }
                    .icon{
                        font-size: 3rem;
                    }
                    p{
                        margin-bottom: 0;
                        height: fit-content;
                        align-self: end;
                    }
                }
            }
        }
    }
}