html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: $primaryColor;
}

@font-face {
    font-family: "Adevale-Regular, Adevale";
    src: url(../fonts/Adevale.ttf);
}
a, a:active , a:hover{
    text-decoration: none;
}

.text-justify{
    text-align: justify;
}

p{
    font-family: $font-secondary;
}

h1,h2,h3{
    font-family: $font-primary;
}

// Hide on mobile phones and tablets
.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none !important;
    }
}
.hide-for-desktop{
    @include breakpoint-up(large){
        display: none !important;
    }
}

.open-menu{
    >span:first-child{
        transform: rotate(45deg);
    }
    >span:nth-child(2){
        opacity: 0;
    }
    >span:last-child{
        transform: rotate(-45deg);
    }
}

