.header{
    width: 100%;
    position: relative;
    // top: 0;
    // left: 0;
    // right: 0;
    z-index: 3000;
    nav{
        width: 80%;
        justify-content: space-evenly;
    }

    &__menu{
        > span{
            display: block;
            width: 26px;
            height: 2px;
            background-color: $secondaryColor;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }
    &__logo{

    }

    &__nav{
        margin: 0;
        height: 100%;
        li{
            margin: 0 2.5625rem;
            a{
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                font-family: $font-primary;
                font-size: 1.5625rem;
                color: $fadeColor;
                transition: color 200ms ease-in-out;
                &:hover{
                    color: $secondaryColor;
                }

                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: 20px;
                    left: -1px;
                    right: 0;
                    background-image: linear-gradient(to right, #8A8780 , $secondaryColor);
                    transition: all 200ms ease-in-out;

                    transform: scaleX(0);
                    transform-origin: left;

                    
                }
                &:hover::after{
                    transform: scaleX(1.1);
                }
            }
        }
  
    }

    &__mail{
        font-size: 1.5625rem;
        color: $secondaryColor;
        &:hover{
            color: $secondaryColor;
        }
    }
}

@include breakpoint-down(medium){
    header{
        nav{
            width: 90% !important;
            justify-content: space-between !important;
        }
    }
}