// Colors
$primaryColor:#E6FFFA; 
$secondaryColor:#4B6360;
$primaryLightColor:#c3fcf2;
$bgColor:#8A8780;
$fadeColor:#7D8181;

// Font
$font-sm:0.875rem; // 14px
$font-med:1.125rem; // 18px

// Font Style
$font-primary: 'Teko', sans-serif;
$font-secondary: 'Lato', sans-serif;
