.work-page{
    padding: 6.25rem 0;
    background-image: url(../img/square-lines.svg);
    background-repeat: repeat;

    .work-content-title{
        font-family: "Teko", sans-serif;
        font-size: 2.5625rem;
        font-weight: 500;
        color: $secondaryColor;
    }

    &__item{

    }

    &__card{
        border-radius: 0.625rem;
        overflow: hidden;
        background-color: $primaryLightColor;
        transition: all 200ms ease-in-out;
        margin-bottom: 2rem;

        &:hover{
            transform: scale(1.02);
        }
    }

    &__img{
        img{
            width: 100%;
        }
    }

    &__text{
        color: $secondaryColor;
    }

    &__btn{
        display: grid;
        margin: auto;
        background-color: #E6FFFA;
        color: $secondaryColor;
        font-family: "Teko", sans-serif;
        letter-spacing: 0.125rem;
        width: 85%;
        text-align: center;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        &:hover{
            color: $fadeColor;
        }
    }
}