html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #E6FFFA;
}

@font-face {
  font-family: "Adevale-Regular, Adevale";
  src: url(../fonts/Adevale.ttf);
}

a, a:active, a:hover {
  text-decoration: none;
}

.text-justify {
  text-align: justify;
}

p {
  font-family: "Lato", sans-serif;
}

h1, h2, h3 {
  font-family: "Teko", sans-serif;
}

@media (max-width: 61.9375em) {
  .hide-for-mobile {
    display: none !important;
  }
}

@media (min-width: 62em) {
  .hide-for-desktop {
    display: none !important;
  }
}

.open-menu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open-menu > span:nth-child(2) {
  opacity: 0;
}

.open-menu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header {
  width: 100%;
  position: relative;
  z-index: 3000;
}

.header nav {
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #4B6360;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__logo svg #Alto {
  font-family: "Adevale-Regular, Adevale";
}

.header__nav {
  margin: 0;
  height: 100%;
}

.header__nav li {
  margin: 0 2.5625rem;
}

.header__nav li a {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Teko", sans-serif;
  font-size: 1.5625rem;
  color: #7D8181;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__nav li a:hover {
  color: #4B6360;
}

.header__nav li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 20px;
  left: -1px;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#8A8780), to(#4B6360));
  background-image: linear-gradient(to right, #8A8780, #4B6360);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header__nav li a:hover::after {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.header__mail {
  font-size: 1.5625rem;
  color: #4B6360;
}

.header__mail:hover {
  color: #4B6360;
}

@media (max-width: 61.9375em) {
  header nav {
    width: 90% !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

.hero-page .title-wrapper {
  color: #4B6360;
  text-align: center;
  margin: 6.25rem 0;
}

.hero-page .title-wrapper p {
  font-family: "Lato", sans-serif;
  font-size: 1.5625rem;
  font-weight: 700;
  font-style: italic;
}

.hero-page .title-wrapper h1 {
  font-family: "Teko", sans-serif;
  font-size: 5rem;
  font-weight: 300;
}

.hero-page .hero-img {
  position: relative;
}

.hero-page .hero-img .mac-bg {
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 0;
  z-index: -1;
}

@media (max-width: 47.9375em) {
  .title-wrapper p {
    font-size: 1.25rem !important;
  }
  .title-wrapper h1 {
    font-size: 4.6875rem !important;
  }
  .hero-img img {
    width: 60%;
  }
}

.aboutme-page {
  background-color: #8A8780;
  padding: 6.25rem 3.125rem;
  color: white;
}

.aboutme-page .aboutme-content {
  margin: 50px 0;
}

.aboutme-page .aboutme-content-title {
  font-family: "Teko", sans-serif;
  font-size: 2.5625rem;
  font-weight: 500;
}

.aboutme-page .aboutme-content-para {
  width: 85%;
  margin: auto;
  margin-top: 2.5rem;
  font-family: "Lato", sans-serif;
}

@media (max-width: 47.9375em) {
  .aboutme-page .aboutme-content-para {
    width: 95%;
  }
}

.aboutme-page .aboutme-content .cd-wrapper {
  width: 85%;
  margin: auto;
}

.aboutme-page .aboutme-content .cd-wrapper .cd-left {
  padding: 0;
  margin-top: 3.125rem;
}

.aboutme-page .aboutme-content .cd-wrapper .cd-left h3 {
  font-family: "Teko", sans-serif;
  font-size: 1.5625rem;
  font-weight: 400;
  margin: 0;
}

.aboutme-page .aboutme-content .cd-wrapper .cd-left a {
  color: #E6FFFA;
}

.aboutme-page .aboutme-content .cd-wrapper .cd-right {
  padding: 0;
  margin-top: 3.125rem;
}

.aboutme-page .aboutme-content .cd-wrapper .cd-right a {
  color: #E6FFFA;
}

.aboutme-page .aboutme-content .cd-wrapper .cd-right .dev-page {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #E6FFFA;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.aboutme-page .aboutme-content .cd-wrapper .cd-right .dev-page:hover {
  border-color: #4B6360;
  color: #4B6360;
  background-color: #E6FFFA;
}

.aboutme-page .aboutme-content .cd-wrapper .cd-right .dev-page .icon {
  font-size: 3rem;
}

.aboutme-page .aboutme-content .cd-wrapper .cd-right .dev-page p {
  margin-bottom: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 47.9375em) {
  .aboutme-page .aboutme-content .cd-wrapper .cd-right .dev-page {
    margin: auto;
  }
}

@media (max-width: 47.9375em) {
  .aboutme-page .aboutme-content .cd-wrapper {
    width: 95%;
  }
}

@media (max-width: 47.9375em) {
  .aboutme-page {
    padding: 6.25rem 1.125rem;
  }
}

.work-page {
  padding: 6.25rem 0;
  height: 100vh;
  background-image: url(../img/square-lines.svg);
  background-repeat: repeat;
}

.work-page .work-content-title {
  font-family: "Teko", sans-serif;
  font-size: 2.5625rem;
  font-weight: 500;
  color: #4B6360;
}

.work-page__card {
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: #8A8780;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  margin-bottom: 2rem;
}

.work-page__card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.work-page__img img {
  width: 100%;
}

.work-page__text {
  color: white;
}

.work-page__btn {
  display: -ms-grid;
  display: grid;
  margin: auto;
  background-color: #E6FFFA;
  color: #4B6360;
  font-family: "Teko", sans-serif;
  letter-spacing: 0.125rem;
  width: 85%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.work-page__btn:hover {
  color: #7D8181;
}
/*# sourceMappingURL=style.css.map */